{=insert name="radio_globaljs" rid=$rid page_title=$page_title=}
<div class="page-download">
    <div class="part1 bg-gray">
        <div class="wrap">
            <div class="pic-show">
                <img src="http://www.sinaimg.cn/dy/deco/2014/0711/images/img1.png" alt="test"/>
            </div>
            <div class="btn-wrap">
                <a class="android" href="http://www.sinaimg.cn/lf/radio/SinaRadio_release_2.1.0.1092_3161_0001.apk" target="_blank"></a>
                <a class="ios" href="https://itunes.apple.com/cn/app/wei-dian-tai/id510575384?mt=8&ign-mpt=uo%3D4"></a>
            </div>
            <div class="two-dimension-code">
                <img src="http://www.sinaimg.cn/dy/deco/2014/0711/images/img2.png" alt="二维码"/>
                <p>扫描二维码下载</p>
            </div>
            <p class="tip">手机浏览器直接访问：<a href="http://radio.weibo.cn" target="_blank">radio.weibo.cn</a>也是可以收听微电台哒！</p>
        </div>
    </div>
    <div class="part2 bg-gray">
        <div class="wrap">
            <table>
                <tr>
                    <th class="col-t-530"></th>
                    <th class="col-t-470"></th>
                </tr>
                <tr>
                    <td>
                        <div class="ctr">
                            <h2>随时随地收听全国各地热门电台</h2>
                            <p>使用微电台APP实时收听全国33个地区的500个电台，无论你身在何处，微电台让你听到家乡的声音。</p>
                        </div>
                    </td>
                    <td>
                        <img src="http://www.sinaimg.cn/dy/deco/2014/0711/images/img3.png" alt="test"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part3">
        <div class="wrap">
            <table>
                <tr>
                    <th class="col-t-500"></th>
                    <th class="col-t-500"></th>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.sinaimg.cn/dy/deco/2014/0711/images/img4.png" alt="test"/>
                    </td>
                    <td>
                        <div class="ctr">
                            <h2>预约收听节目 不错过每段精彩</h2>
                            <p>使用预约功能，<a href="http://radio.weibo.com" target="_blank">@微电台</a>就会在节目开始的时候提醒你收听哒！ </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part4 bg-gray">
        <div class="wrap">
            <table>
                <tr>
                    <th class="col-t-700"></th>
                    <th class="col-t-300"></th>
                </tr>
                <tr>
                    <td>
                        <div class="ctr">
                            <h2>定时关闭</h2>
                            <p>麻麻再也不用担心我的手机流量啦！</p>
                        </div>
                    </td>
                    <td>
                        <img src="http://www.sinaimg.cn/dy/deco/2014/0711/images/img5.png" alt="test"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part5">
        <div class="wrap udv-clearfix">
            <div class="item"><a class="apple" href="https://itunes.apple.com/cn/app/wei-dian-tai/id510575384?mt=8&ign-mpt=uo%3D4" target="_blank"></a></div>
            <div class="item"><a class="android" href="http://www.sinaimg.cn/lf/radio/SinaRadio_release_2.1.0.1092_3161_0001.apk" target="_blank"></a></div>
            <div class="item" style="border-right: 0;"><a class="h5" href="http://radio.weibo.com/" target="_blank"></a></div>
        </div>
    </div>
</div>
{=insert name="radio_footer"=}
</body>
</html>