<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv=X-UA-Compatible content=IE=EmulateIE7 />
<META NAME="Keywords" CONTENT="微电台,微博电台,在线广播,新浪微博电台,音乐电台,全国电台 ">
<META NAME="Description" CONTENT="微电台是由新浪微博开发的一款在线电台产品，在微电台中可收听全国百余家地方电台。微电台突破了以往收听广播的地域及终端限制，也改变了用户被动收听广播的习惯，微博用户可在收听微电台的同时，与主持人和网友进行微博互动。 ">
<title>{$page_title}</title>
{insert name="radio_globaljs" cuid=$cuid radioInfo = $radioInfo from=3}
</head>
<body>
{insert name="radio_topjs" cuid=$cuid radioInfo = $radioInfo from=3}
<div class="radio_nC">

	<!--线上二级导航-->
	<div class="radio_header">
		<div class="radio_logo"><a href="{$smarty.const.RADIO_URL}">微电台</a>
			<h2>管理我收藏的电台</h2>
		</div>		
		<div class="radio_lnk">
			<a href="{$smarty.const.RADIO_URL}">微电台首页</a><em class="gray_line">|</em><a href="/rank" target="_blank">微电台排行榜</a>			
		</div>
	</div>
	<!--/线上二级导航-->

	<!--内容-->
	<div class="radio_ContWp clearFix">

		<!--左侧页面-->
		<div class="rdo_left">
			{if !empty($radio_collection.info)}
			<!--收藏列表-->
			<div class="rdoCollect_wp" id="favpage">
				<div class="hd_collect"></div>
				<div class="bd_collect" id="favList">
					{assign var=i value=1}
					{foreach item=aitem key=akey from=$radio_collection.info}
					<div class="collect_col" action-type="fav" action-data="rids={$aitem.rid}">
						<input type="hidden" value="{$aitem.rid}" name="rids"/>
						<ul class="clearFix">
							<li class="col_w1">
								<p class="num_ls"><em>{$i}</em><span class="ico_radio ico_rdo_b"><a href="/{$aitem.province_spell}/{$aitem.domain}">{$aitem.name}-{$aitem.fm}{if $aitem.isnew}<span class="radio_icon_new"></span>{/if}</a></span></p>
							</li>
							<li class="col_w2">{$aitem.province_name}</li>
							<li class="col_w3"><span class="ico_radio ico_greenrt"></span><a href="javascript:void(0);" style="display:none" action-type="delfav" action-data="rids={$aitem.rid}">取消收藏</a>
							</li>
						</ul>
					</div>
					{assign var=i value=$i+1}
					{/foreach}
				</div>
			</div>
			
			<div class="btn_collect_C clearFix" id="favedit">
				<p class="rt"><a class="btn_EditSortRdo" href="javascript:void(0);" action-type="faveditorder">&nbsp;&nbsp;</a></p>
			</div>
			<div class="prompt_orgwp prompt_sm" style="display:none;" id="favehelp"> <span class="ico_radio ico_orgalert">按住鼠标左键可拖动整行上下移动排序</span> </div>
			<div class="btn_collect_C" id="faveditsave" style="display:none;"> <a class="btn_SaveRdo" href="javascript:void(0);" action-type="favlistSubmit">&nbsp;&nbsp;</a> </div>
			<!--\收藏列表-->
			{else}
			<div class="prompt_orgwp">
				<p class="ico_radio ico_blueno">你还没有收藏任何微电台<br/>
					点击播放器中的“收藏”按钮即可收藏哦！</p>
			</div>
			{/if}
			
		</div>
		<!--\左侧页面-->
		
		<!--右侧页面-->
		<div class="rdo_right">
			<!--热门收藏榜-->
			<div class="rdo_tit2"> <span></span>
				<h3>热门收藏榜</h3>
			</div>
			<ul class="ul_listenTop clearFix">
				{foreach item=item key=key from=$col_top10}
				<li {if $item.end}class="end"{elseif $key < 3}class="rank123"{/if}>
					<p class="topctent"><em {if $key < 3} class="ico_num123" {else} class="ico_num09" {/if} >{$key+1}</em><a href="/{$item.info.province_spell}/{$item.info.domain}">{$item.info.name}-{$item.info.fm}{if $item.info.isnew}<span class="radio_icon_new"></span>{/if}</a></p>
				</li>
				{/foreach}
			</ul>
			<div class="dotline_d"></div>
			<!--\热门收藏榜-->

			<!--右下角公共模块-->
			{insert name="radio_rigth_corner" cuid=$cuid}
		
		</div>
		<!--\右侧页面-->
	</div>
	<!--/内容-->
	
	<!--尾-->
	<script type="text/javascript" src="{$smarty.const.RADIO_STATIC_PATH}js/footer_init.js?version={$js_css_version}"></script>
	<!--/尾-->
</div>
{insert name="radio_sudajs" version=$js_css_version}
</body>
</html>
