<!-- 评论 列表 start -->
<div id="_comment_list_miniblog2_{$mid}" cacheid="3">
    <div class="MIB_assign rt">
        <div class="MIB_asarrow_r"></div>
        <div class="MIB_assign_t"></div>
        <div class="MIB_assign_c MIB_txtbl">
            <div class="logininput new_position">
                <div style="display:none;" id="_comment_logindiv_miniblog2_{$mid}" class="login_sboxs">：<input type="text" class="" id="_comment_loginuser_miniblog2_{$mid}" style="color: rgb(153, 153, 153);" title="电子邮箱/UC号/会员帐号/手机号" alt="电子邮箱/UC号/会员帐号/手机号"> 密码：<input type="password" class="" id="_comment_loginpassword_miniblog2_{$mid}"><a target="_blank" href="http://login.sina.com.cn/cgi/getpwd/getpwd0.php?entry=sso">找回密码</a>
                    <span class="MIB_line_l">|</span>
                    <a target="_blank" href="{$t_url}/reg.php">注册</a>
                </div>
                <a onclick="scope._faceico_ = App.showFaces(this,$E('_comment_content_miniblog2_{$mid}'),-30,5);return false;" class="faceicon1" href="javascript:void(0);" title="表情"></a>
                <textarea class="lf" style="overflow: hidden; height: 18px; font-family: Tahoma,宋体; border-style: solid; border-width: 1px; word-wrap: break-word; font-size: 12px; line-height: 18px;" id="_comment_content_miniblog2_{$mid}"></textarea>
                <a href="javascript:void(0);" id="_comment_post_miniblog2_{$mid}" class="btn_normal"><em>评论</em></a>
                <div class="margin_b MIB_txtbl ml35">
                    <p>
                        <input type="checkbox" id="agree_{$mid}">
                        <label for="agree_{$mid}">同时转发到我的微博</label>
                    </p>
                </div>
            </div>
            <ul class="PL_list oddline">
            {if $comment}
               {foreach from=$comment item=cmt}
                <li cacheid="8" class="MIB_linedot3">
                    <a href="{$cmt.user.link_url}" target="_blank"><img src="{$cmt.user.profile_image_url}" title="{$cmt.user.name}" class="picborder_l lf"></a>
                    <p class="lf">
                     <a href="{$cmt.user.link_url}" target="_blank">{$cmt.nick}{if $cmt.user.user_type neq 'user'}<img title="{if $cmt.user.user_type eq 'vip'}新浪认证{elseif $cmt.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$cmt.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}</a>
                     {$cmt.content.text}<span class="MIB_txtbl">({$cmt.created_at})</span>
                     </p>
                     <div class="MIB_more MIB_linkbl">
                       {if $cmt.uid eq $cuid or $ownerUid eq $cuid}
                       <a onclick="scope.deleteCommentByRid('{$cmt.uid}', '{$ownerUid}', '{$mid}', '{$cmt.id}', 'miniblog2',1,1)" href="javascript:void(0);" class="del">删除</a><span class="MIB_line_l">|</span>
                       {/if}
                       <a class="lose" onclick="scope.replyByCid('{$cmt.uid}', '{$ownerUid}', '{$mid}', '{$cmt.id}', '{$cmt.nick}', '{$cmt.content.text|escape:'url'}', 'miniblog2',1,1);return false;" href="javascript:void(0);">回复</a>
                     </div>
                </li>
                {/foreach}
            {/if}
            </ul>
            {if $other_comment_count > 0}
            <div class="list_head MIB_linedot3 moreheight">后面还有<span>{$other_comment_count}</span>条评论，<a href="{getUidUrl domainType=$smarty.const.DOMAIN_TYPE uid=$ownerUid mid=$mid62}#a_comment" target="_blank">点击查看<em>&gt;&gt;</em></a></div>
            {/if}
        </div>
        <div class="MIB_assign_b">
        </div>
    </div>
</div>
<!--评论 列表 end-->