<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META NAME="Keywords" CONTENT="微电台,微博电台,在线广播,新浪微博电台,音乐电台,全国电台 ">
<META NAME="Description" CONTENT="微电台是由新浪微博开发的一款在线电台产品，在微电台中可收听全国百余家地方电台。微电台突破了以往收听广播的地域及终端限制，也改变了用户被动收听广播的习惯，微博用户可在收听微电台的同时，与主持人和网友进行微博互动。 ">
<title>无标题文档</title>
{insert name="radio_globaljs" cuid=$cuid radioInfo = $radioInfo from = 1 radiolist=$radiolist}
</head>

<body id="fmradio">
{insert name="radio_topjs" cuid=$cuid radioInfo = $radioInfo from = 1}
	<div id="myradio" style="display:none">
	</div>
<!--电台-->
<div class="radio" id="radiowrap">
	<h3 id="fm_load" style="display:none"><span><img src="{$smarty.const.GLOBAL_CSS_PATH_V3}/images/fmradio/loading.gif" alt="正在缓冲..." />正在缓冲...</span></h3>
	<h3 id="fm_title"><span id="fm_title1"></span></h3>      
	<div class="fun">
		<a href="javascript:;" class="offN" id="switch"></a>
		<!--打开状态<a href="" class="onN"></a>-->
		<a href="javascript:;" id="changebtn" class="change"></a>		
		<a href="javascript:;" class="{if $collected}colcur{else}col{/if}" {if !$collected && $cuid > 0}action-type="addfav" action-data="rids={$radioid}"{/if} {if $collected}onclick="return false;"{/if}{if $cuid == 0 && !$collected}{literal}onclick="App.ModLogin({func:function(){location.reload(true);}})"{/literal}{/if}></a>
	</div>
	<dl class="value">
		<dt id = "volume">音量</dt>
		<dd><span style="left:20px;" id="radio_vol"></span></dd>
	</dl>
	<p class="currentfm"><span><a href="javascript:;" id="active">参与互动</a></span><em id="curfm"></em></p>
	{if !$hasCollected}
	<div class="radio_tips" id="remind_tip"><a title="关闭" href="javascript:;" action-type="removeTip" action-data="cont=remind_tip">关闭</a></div>
	{/if}
</div>
<!--换台-->
<div class="W_layer"  style="display:none" id="changelist">
	<div class="bg">
		<table cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td>
						<div class="content">
							<div class="radio_layer_tag" id="tab_fav_area">
								<dl class="clearFix">
									<dd class="radio_layer_tag_1 {if !empty($radio_collection)}cur{/if}" id="tab_fav_area_1" action-type="tab_fav_area" action-data="showTab=tab_fav_area_1&hideTab=tab_fav_area_2&showPanel=panel_fav_area_1&hidePanel=panel_fav_area_2"><span></span>我收藏的电台</dd>
									<dd class="radio_layer_tag_2 {if empty($radio_collection)}cur{/if}" id="tab_fav_area_2" action-type="tab_fav_area" action-data="showTab=tab_fav_area_2&hideTab=tab_fav_area_1&showPanel=panel_fav_area_2&hidePanel=panel_fav_area_1"><span></span>切换地区换台</dd>
									<dt><a href="javascript:void(0);" id="change">关闭</a></dt>
								</dl>
							</div>
							<div class="layerBoxCon">
								<!--收藏电台列表层-->
								<div id="panel_fav_area_1" {if empty($radio_collection)}style="display: none;"{/if} class="radio_layer_con">
									{if !empty($radio_collection.info)}
									<div class="layerBox">														
										<dl class="fm_list" id="">
											{foreach item=aitem key=akey from=$radio_collection.info}
											<dd{if $radioid==$aitem.rid} class="current"{/if}>
												<a href="/{$aitem.province_spell}/{$aitem.domain}" rel="{$aitem.rid}">{$aitem.name}-{$aitem.fm}{if $aitem.isnew}<span class="radio_icon_new"></span>{/if}</a>
											</dd>
											{/foreach}
										</dl>
									</div>
									{else}
									<div class="radio_col_no">
										<p class="radio_col_no_ico">你还没有收藏，推荐最热门的微电台给你吧！</p>
										<div class="radio_col_no_line"></div>
										<h2>热门收藏</h2>
										<div class="radio_listen">
											<ul>
												{foreach item=item key=key from=$col_top10}
												{if $key < 3}
												<li>
													<a href="/{$item.info.province_spell}/{$item.info.domain}" rel="{$item.info.rid}">{$item.info.name}-{$item.info.fm}{if $item.info.isnew}<span class="radio_icon_new"></span>{/if}</a>
												</li>
												{/if}
												{/foreach}
											</ul>
										</div>														
									</div>
									{/if}
								</div>
								<!--地区换台层-->
								<div id="panel_fav_area_2" {if !empty($radio_collection)}style="display: none;"{/if} class="radio_layer_con">
									<!--地区列表-->
									<div id="areaListBox" class="city_list">
										{foreach item=item key=key from=$radiolist}
										<a{if $item.id == $currpid} class="cur" {/if} id="area_{$item.id}" href="javascript:void(0);"><span>{$item.name}</span></a>
										{/foreach}
									</div>
									<div class="seprate_bg"></div>
									<!--电台列表-->											
									{foreach item=item key=key from=$radiolist}
									{if $item.id == $currpid}
									<div class="layerBox">
										<dl class="fm_list" id="changeul">														
											<dt>{$item.name}</dt>
											{foreach item=aitem key=akey from=$item.list}
											<dd{if $radioid==$aitem.rid} class="current"{/if}>
												<a href="/{$aitem.province_spell}/{$aitem.domain}" rel="{$aitem.rid}">{$aitem.name}-{$aitem.fm}{if $aitem.isnew}<span class="radio_icon_new"></span>{/if}</a>
											</dd>
      										{/foreach}														
										</dl>
									</div>
									{/if}
									{/foreach}	
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{insert name="radio_sudajs" version=$js_css_version}
</body>
</html>