{=insert name="radio_globaljs" rid=$rid page_title=$page_title=}
<!--顶部通知 begin-->
<div class="notice-wrap">
    <div class="bg-wrap"></div>
    <div class="notice" id="notice">
        <div class="notice-in udv-clearfix">
        </div>
    </div>
</div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['notice','$','_'],function(Notice){
            $(document).ready(function(){
                new Notice({
                    ctr: $("#notice")
                    //speed: 30 //px per second
                });
            });
        });
    });
</script>
<!--顶部通知 end-->
<div class="rank">
    <div class="wrap list-management" style="padding-top: 90px;">
        <!--顶部导航 begin-->
		{=insert name="radio_head" page_name="rank" is_login=$cuid=}
		<!--顶部导航 end-->
        <div class="udv-clearfix" style="margin-top: 30px;">
            <div class="col-left">
                <div class="blk1" id="listening">
                </div>
                <script type="text/javascript">
                    requirejs(['lib'],function(){
                        requirejs(['rank/rank','$'],function(Rank){
                            $(document).ready(function(){
                                new Rank({
                                    el: $("#listening")
                                });
                            });
                        });
                    });
                </script>
                <div class="blk1 blk2" style="margin-top: 40px;">
                    <div class="title">
                        <div class="t-left">
                            <span>活跃榜</span>
                        </div>
                    </div>
                    <div class="content" id="active">
                        <div class="type">
                            <span data-type="key" style="margin-right: 14px;" class="selected">DJ活跃榜</span>
                            <span data-type="key">用户活跃榜</span>
                        </div>
                        <div class="t-head udv-clearfix">
                            <div class="th-left">昨日排名</div>
                            <div class="th-middle">昵称</div>
                            <div class="th-right">最常听的电台</div>
                        </div>
                        <ul data-type="value" class="b2-dj">
							{=foreach from=$dj_active_rank item=myitem name=myname=}
							{=if $myitem.dj_info.uid=}
                            <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}><!--第一个li加item-first-->
                                <div class="p-left">
                                    <span>{=$smarty.foreach.myname.iteration=}</span>
                                    <img src="{=$myitem.dj_info.profile_image_url=}" height="33" width="33" alt="{=$myitem.dj_info.name=}"/>
                                </div>
                                <div class="p-left1">
                                    <a href="{=$myitem.dj_info.link_url=}" target="_blank">{=$myitem.dj_info.name=}</a>
                                </div>
                                <div class="p-middle">
                                    {=if $myitem.dj_info.relation!=1=}
                                    <a class="icon-follow1" href="javascript:;" data-uid="{=$myitem.dj_info.uid=}" data-action="follow"></a>
									{=else=}
									<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
									{=/if=}
                                </div>
                                <div class="p-right">
                                    <a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.radio_info.name=}</a>
                                </div>
                            </li>
							{=/if=}
							{=/foreach=}
                        </ul>
                        <ul data-type="value" class="b2-user">
							{=foreach from=$user_active_rank item=myitem name=myname=}
							{=if $myitem.userinfo.uid=}
                            <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}><!--第一个li加item-first-->
                                <div class="p-left">
                                    <span>{=$smarty.foreach.myname.iteration=}</span>
                                    <img src="{=$myitem.userinfo.profile_image_url=}" height="33" width="33" alt="{=$myitem.userinfo.screen_name=}"/>
                                </div>
                                <div class="p-left1">
                                    <a href="{=$myitem.userinfo.link_url=}" target="_blank">{=$myitem.userinfo.screen_name=}</a>
                                </div>
                                <div class="p-middle">
									{=if $myitem.userinfo.relation!=1=}
                                    <a class="icon-follow1" href="javascript:;" data-uid="{=$myitem.userinfo.uid=}" data-action="follow"></a>
									{=else=}
									<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
									{=/if=}
                                </div>
                                <div class="p-right">
                                    <a href="{=$myitem.radioinfo.radio_url=}" target="_blank">{=$myitem.radioinfo.name=}</a>
                                </div>
                            </li>
							{=/if=}
							{=/foreach=}
                        </ul>
                    </div>
                    <script type="text/javascript">
                        requirejs(['lib'],function(){
                            requirejs(['util/switch','$'],function(Switch){
                                $(document).ready(function(){
                                    new Switch({
                                        triggerEvent: 'click',
                                        selectedCls: 'selected',
                                        ctr: $("#active")
                                    });
                                });
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="col-right">
                <div class="blk3">
                    <div class="title">收藏榜</div>
                    <ul>
						{=foreach from=$collection_rank item=myitem name=myname=}
						{=if $myitem.info.rid=}
                        <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}>
                            <div class="b3t-left">
                                <span>{=$smarty.foreach.myname.iteration=}</span>
                                <img src="{=$myitem.info.img_path=}" height="33" width="33" alt="{=$myitem.info.name=}"/>
                            </div>
                            <div class="b3t-right">
                                <a href="{=$myitem.info.radio_url=}" target="_blank">{=$myitem.info.name=}</a>
                            </div>
                        </li>
						{=/if=}
						{=/foreach=}
                    </ul>
                </div>
                <div class="blk4">
                    <div class="title">
                        <span class="t-left">电台影响力排行榜</span>
                        <span class="t-right"><a href="http://data.weibo.com/top/influence/media?class=1692" target="_blank">详见风云榜&gt;</a></span>
                    </div>
                    <div class="content" id="power">
                        <div class="type">
                            <span class="selected" data-type="key">日榜</span>
                            <span data-type="key">周榜</span>
                            <span data-type="key" style="margin-right: 0;">月榜</span>
                        </div>
                        <div class="list-head udv-clearfix">
                            <span class="lh-1">排名</span>
                            <span class="lh-2">电台</span>
                            <span class="lh-3">影响力</span>
                        </div>
                        <ul data-type="value">
							{=foreach from=$influence_rank.day item=myitem name=myname=}
							{=if $myitem.uid=}
                            <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}>
                                <div class="b4-left">
                                    <span>{=$smarty.foreach.myname.iteration=}</span>
                                    <a href="{=$myitem.radio_info.url=}" target="_blank"><img src="{=$myitem.profile_image_url=}" height="33" width="33" alt="{=$myitem.screen_name=}"/></a>
                                </div>
                                <div class="b4-middle">
                                    <p class="name"><a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.screen_name=}</a></p>
                                    <p class="btn-ctr">
                                        {=if $myitem.relation!=1=}
                                        <a class="icon-follow1" href="javascript:;" data-uid="{=$myitem.uid=}" data-action="follow"></a>
										{=else=}
										<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
										{=/if=}
                                    </p>
                                </div>
                                <div class="b4-right">
                                    <span class="{=$myitem.status=}">{=$myitem.order_change=}</span>
                                </div>
                            </li>
							{=/if=}
							{=/foreach=}
                        </ul>
                        <ul data-type="value">
							{=foreach from=$influence_rank.week item=myitem name=myname=}
							{=if $myitem.uid=}
                            <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}>
                                <div class="b4-left">
                                    <span>{=$smarty.foreach.myname.iteration=}</span>
                                    <a href="{=$myitem.radio_info.url=}" target="_blank"><img src="{=$myitem.profile_image_url=}" height="33" width="33" alt="{=$myitem.screen_name=}"/></a>
                                </div>
                                <div class="b4-middle">
                                    <p class="name"><a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.screen_name=}</a></p>
                                    <p class="btn-ctr">
										{=if $myitem.relation!=1=}
                                        <a class="icon-follow1" href="javascript:;" data-uid="{=$myitem.uid=}" data-action="follow"></a>
										{=else=}
										<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
										{=/if=}
									</p>
                                </div>
                                <div class="b4-right">
                                    <span class="{=$myitem.status=}">{=$myitem.order_change=}</span>
                                </div>
                            </li>
							{=/if=}
							{=/foreach=}
                        </ul>
                        <ul data-type="value">
							{=foreach from=$influence_rank.month item=myitem name=myname=}
							{=if $myitem.uid=}
                            <li {=if $smarty.foreach.myname.iteration ==1=}class="red udv-clearfix item-first"{=elseif $smarty.foreach.myname.iteration <=3=}class="red udv-clearfix" {=else=} class="udv-clearfix" {=/if=}>
                                <div class="b4-left">
                                    <span>{=$smarty.foreach.myname.iteration=}</span>
                                    <a href="{=$myitem.radio_info.url=}" target="_blank"><img src="{=$myitem.profile_image_url=}" height="33" width="33" alt="{=$myitem.screen_name=}"/></a>
                                </div>
                                <div class="b4-middle">
                                    <p class="name"><a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.screen_name=}</a></p>
                                    <p class="btn-ctr">
										{=if $myitem.relation!=1=}
                                        <a class="icon-follow1" href="javascript:;" data-uid="{=$myitem.uid=}" data-action="follow"></a>
										{=else=}
										<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
										{=/if=}
                                    </p>
                                </div>
                                <div class="b4-right">
                                    <span class="{=$myitem.status=}">{=$myitem.order_change=}</span>
                                </div>
                            </li>
							{=/if=}
							{=/foreach=}
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    requirejs(['lib'],function(){
                        requirejs(['util/switch','$'],function(Switch){
                            $(document).ready(function(){
                                new Switch({
                                    triggerEvent: 'click',
                                    selectedCls: 'selected',
                                    ctr: $("#power")
                                });
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<div class="wrap list-management">
    <!--返回顶部 begin-->
    <div class="side-btns" id="side-btns" style="visibility: hidden;bottom: 80px;">
        <a class="back" href="javascript:;"></a>
    </div>
    <script type="text/javascript">
        requirejs(['lib'],function(){
            requirejs(['component/backToTop'],function(){
                $(document).ready(function(){

                });
            });
        });
    </script>
    <!--返回顶部 end-->
</div>
<script type="text/javascript">
    //页面加关注功能
    requirejs(['lib'],function(){
        requirejs(['util/network','util/login','$'],function(network,login){
            var $body=$("body");
            $(document).ready(function(){
                $body.on('click', '[data-action="follow"]',function(e){
                    var $cTarget=$(e.currentTarget);
                    if(!scope.islogin){
                        login.showAtCenter();
                    }
                    network.follow({
                        uid: $cTarget.attr('data-uid')
                    }, function(d){
                        if(d.code=='A00006')
                            $cTarget.replaceWith($('<a class="icon-followed" href="javascript:;"><em></em>已关注</a>'));
                    })
                })
            });
        });
    });
</script>
{=insert name="radio_footer"=}
</body>
</html>