{=insert name="radio_globaljs" rid=$rid page_title=$page_title=}
<!--顶部通知 begin-->
<div class="notice-wrap">
    <div class="bg-wrap"></div>
    <div class="notice" id="notice">
        <div class="notice-in udv-clearfix">
        </div>
    </div>
</div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['notice','$','_'],function(Notice){
            $(document).ready(function(){
                new Notice({
                    ctr: $("#notice")
                    //speed: 30 //px per second
                });
            });
        });
    });
</script>
<!--顶部通知 end-->
<div class="search">
    <div class="wrap list-management" style="padding-top: 90px;">
	<!--顶部导航 begin-->
	{=insert name="radio_head"=}
	<!--顶部导航 end-->
        <div class="udv-clearfix col-2-bg" style="margin-top: 30px;">
            <div class="col-left">
                <div class="s-form">
                    <form action="{=$smarty.const.RADIO_URL=}/search" method="GET" class="udv-clearfix">
                        <input type="text" class="text" name="words" value={=if $words=}"{=$words=}"{=else=}""{=/if=} placeholder="电台、节目、DJ" maxlength="15"/>
                        <input type="submit" class="submit" value="搜 索"/>
                    </form>
                </div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['sim-component/TipBoxes','$','placeholder'],function(tipboxes){
            var Alert=tipboxes.Alert;
            $('.s-form input[type=text]').placeholder()
            .keyup(function(e){  
                var curLength=$(this).val().length;
                if(curLength==15){
                    new Alert({
                        tip: '最多只能输入15个字！',
                        waitTime: 2,
                        iconCls: 'icon-x'
                    });
                }
            })  
        });
    });
</script>
                <div class="s-result" id="result">
                    <div class="type udv-clearfix">
                        <a data-type="key" href="javascript:;" class="selected">搜索电台({=$radioInfo_number=})</a>
                        <a data-type="key" href="javascript:;">搜索节目({=$programInfo_number=})</a>
                        <a data-type="key" href="javascript:;" style="margin-right: 0;">搜索主播({=$djInfo_number=})</a>
                    </div>
                    <div data-type="value">
						{=if $radioInfo=}
                        <div class="sr-channel">
							
							{=foreach from=$radioInfo item=myitem=}
                            <div class="item udv-clearfix">
                                <div class="logo">
                                    <a href="{=$myitem.radio_url=}" target="_blank">
                                        <img src="{=$myitem.img_path=}" height="30" width="30" alt="{=$myitem.name=}"/>
                                    </a>
                                    <a class="play" href="{=$myitem.radio_url=}" target="_blank"></a>
                                </div>
                                <div class="text">
                                    <a href="{=$myitem.radio_url=}" target="_blank">{=$myitem.name_new=}</a>
                                </div>
                            </div>
							{=/foreach=}
                        </div>
						{=/if=}
                    </div>
                    <div data-type="value">
						{=if $programInfo=}
                        <div class="sr-program" style="margin-top: 20px;">
							
							{=foreach from=$programInfo item=myitem=}
                            <div class="item udv-clearfix">
                                <div class="logo">
                                    <a href="{=$myitem.radio_info.radio_url=}" target="_blank">
                                        <img src="{=if $myitem.pic_path!=''=}{=$myitem.pic_path=}{=else=}{=$myitem.radio_info.img_path=}{=/if=}" height="30" width="30" alt="{=$myitem.program_name=}"/>
                                    </a>
                                    <a class="play" href="{=$myitem.radio_info.radio_url=}" target="_blank"></a>
                                </div>
                                <div class="text">
                                    <p class="program"><a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.program_name_new=}</a></p>
                                    <p class="t-channel"><a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.radio_info.name=}</a></p>
                                </div>
                                {=*<div class="time">周一至周五 19:00-21:00</div>*=}
                            </div>
							{=/foreach=}
                        </div>
						{=/if=}
                    </div>
                    <div data-type="value">
						{=if $djInfo=}
                        <div class="sr-dj" style="margin-top: 20px;">
							{=foreach from=$djInfo item=myitem name=myname=}
                            <dl class="udv-clearfix">
                                <dt>
                                    <a href="{=$myitem.dj_info.url=}" target="_blank">
                                        <img src="{=$myitem.dj_info.icon=}" height="56" width="56" alt="{=$myitem.dj_info.name=}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <p class="name"><a href="{=$myitem.dj_info.url=}" target="_blank">{=$myitem.screen_name_new=}</a></p>
                                    <p class="text">主持的节目:</p>
                                    <p class="udv-clearfix">
                                        <span class="t-left"><a href="{=$myitem.dj_info.url=}" target="_blank">《{=$myitem.program_name=}》</a> - <a href="{=$myitem.radio_info.radio_url=}" target="_blank">{=$myitem.radio_info.name=}</a></span>
                                        {=*<span class="t-right">周一至周六 00:00-02:00</span>*=}
                                    </p>
									{=*
                                    <p class="udv-clearfix">
                                        <span class="t-left"><a href="url" target="_blank">《fff》</a> - <a href="url" target="_blank">xxx广播</a></span>
                                        <span class="t-right">周一至周六 00:00-02:00</span>
                                    </p>
									*=}
                                </dd>
                            </dl>
							{=/foreach=}
                        </div>
						{=/if=}
                    </div>
                    <div class="empty-tip" style="margin-top: 30px;">
                        <div class="tip">
                            <span>抱歉，没有匹配的搜索结果…</span>
                            <i class="tri"></i>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    requirejs(['lib'],function(){
                        requirejs(['util/switch','$'],function(Switch){
                            $(document).ready(function(){
                                var s = new Switch({
                                    ctr: $("#result"),
                                    triggerEvent: 'click',
                                    selectedCls: 'selected'
                                });
                                //s.select(2);
                                s.select({=$search_type=});
                            });
                        });
                    });
                </script>
            </div>
			{=insert name="radio_listen_rank"=}
        </div>
    </div>
</div>
<div class="wrap list-management">
    <!--返回顶部 begin-->
    <div class="side-btns" id="side-btns" style="visibility: hidden;bottom: 80px;">
        <a class="back" href="javascript:;"></a>
    </div>
    <script type="text/javascript">
        requirejs(['lib'],function(){
            requirejs(['component/backToTop'],function(){
                $(document).ready(function(){

                });
            });
        });
    </script>
    <!--返回顶部 end-->
</div>
<script type="text/javascript">
    //页面加关注功能
    requirejs(['lib'],function(){
        requirejs(['util/network','util/login','$'],function(network,login){
            var $body=$("body");
            $(document).ready(function(){
                $body.on('click', '[data-action="follow"]',function(e){
                    var $cTarget=$(e.currentTarget);
                    if(!scope.islogin){
                        login.showAtCenter();
                    }
                    network.follow({
                        uid: $cTarget.attr('data-uid')
                    }, function(d){
                        if(d.code=='A00006')
                            $cTarget.replaceWith($('<a class="icon-followed" href="javascript:;"><em></em>已关注</a>'));
                    })
                })
            });
        });
    });
</script>
{=insert name="radio_footer"=}
</body>
</html>