<li cacheid="8" class="MIB_linedot3">
	<a href="{$comment.user.link_url}" target="_blank"><img src="{$comment.user.profile_image_url}" title="{$comment.nick}" class="picborder_l lf"></a>
	<p class="lf">
	    <a href="{$comment.user.link_url}" target="_blank">{$comment.nick}
	    	{if $comment.user.user_type neq 'user'}<img title="{if $comment.user.user_type eq 'vip'}新浪认证{elseif $comment.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$comment.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}	    	
    	</a>&nbsp;&nbsp;{$comment.content.text}<span class="MIB_txtbl">({$comment.created_at|default:'2分钟前'})</span>
	</p>
	<div class="MIB_more MIB_linkbl">
	    <a onclick="scope.deleteCommentByRid('{$comment.uid}', '{$comment.uid}', '{$mid}', '{$comment.id}', 'miniblog2',1,1); return false;" href="javascript:void(0);" class="del">删除</a><span class="MIB_line_l">|</span>
	    <a class="lose" onclick="scope.replyByCid('{$comment.uid}', '{$comment.uid}', '{$mid}', '{$comment.id}', '{$comment.nick}', '{$comment.content.text|escape:'url'}', 'miniblog2',1,1);return false;" href="javascript:void(0);">回复</a>
	</div>
</li>