{if $comment}
{foreach from=$comment item=cmt}
	<div class="comment_row">
		<div class="img">
			<a href="{$cmt.user.link_url}">
				<img height="30" width="30" src="{$cmt.user.profile_image_url}" title="{$cmt.user.name}">
			</a>
		</div>
		<div class="info">
			<a href="{$cmt.user.link_url}">{$cmt.user.name}{if $cmt.user.user_type neq 'user'}<img title="{if $cmt.user.user_type eq 'vip'}新浪认证{elseif $cmt.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$cmt.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}</a>
			{$cmt.content.text}({$cmt.created_at})			
			<p class="reply">
				{if $cmt.uid eq $cuid or $ownerUid eq $cuid}
				<a onclick="App.deleteReplyComment('{$cmt.id}', '{$ownerUid}', '{$mid}',this)" href="javascript:void(0);" class="del">删除</a><span class="MIB_line_l">|</span>				
				{/if}
				<a href="javascript:;" onclick="scope.replyByCid('{$cmt.uid}', '{$ownerUid}', '{$mid}', '{$cmt.id}', '{$cmt.nick}', '{$cmt.content.text|escape:'url'}', 'miniblog2',1,1);return false;">回复</a>				
			</p>
		</div>
		<div class="clear"></div>
	</div>
{/foreach}
{/if}
{if $other_comment_count gt 0}							
	<div class="moreList">
		后面还有{$other_comment_count}条评论，<a href="{getUidUrl domainType=$smarty.const.DOMAIN_TYPE uid=$ownerUid mid=$mid62}#a_comment" target="_blank">点击查看<em>&gt;&gt;</em></a>
	</div>
{/if}						