<input type="hidden" value="{$changetime}" name="hot_changetime"/>
{if !empty($live_pinfo)}
<div node-type="radiolist" class="prm_contList">	
	<ul class="prm_showls" node-type="radioul">
		{foreach item=item key=key from=$live_pinfo}
		{if !empty($item.pname)}
		<li {if $item.vradio_id == $rid}class="cur"{/if}>
			<a href="{if $item.vradio_id == $rid}javascript:;{else}{$item.pinfo.radio_url}?source=radio_change{/if}">
				<em class="time">{$item.pinfo.date.begintime}-{$item.pinfo.date.endtime}</em>
				<p class="p_list"><span>{$item.pname}</span><span>（{$item.pinfo.radio_name}）</span></p>
			</a>
		</li>
		{/if}
		{/foreach}
	</ul>
</div>
{else}
<div class="alarm_wp"><span class="ico_rdoPlay ico_alert">当前时段没有正在直播的热门节目</span></div>
{/if}
{if $live_pinfo_count > 5}
<div node-type="scrollBar" class="scrollBar_gr">
	<span node-type="dragBar" style="top:0px"><em node-type="slid" style="padding-top:{math equation="x / y" x=600 y= $live_pinfo_count}px"></em></span>
</div>
{/if}