{if !empty($radiodj.userinfo)}
<div class="rdo_tit2">				
	<h3>{if $from == 1}正在直播的DJ{else}电台DJ{/if}</h3>
</div>
<div class="box_userlist">
	<ul class="pf_userlist clearFix">
		{foreach item=item key=key from=$radiodj.userinfo}
		<li>
			<div class="img_l">
				<a {if $from == 0 || $from == 1}target="_blank"{/if} href="{if $from == 0}{$item.user.link_url}{else}{$item.radio_url}?source=radio_live_dj{/if}" title="{$item.nick}">
					<img action-type="namecard" action-data="uid={$item.uid}&param=uid###from{if $from == 1}###pname{/if}&position=left&from={$from}{if $from == 1}&pname={$item.program_name}{/if}" alt="{$item.nick}" src="{$item.portrait}" class="img">
				</a>				
			</div>
			<div class="pro_r">
				<p class="name">
					<a action-type="namecard" action-data="uid={$item.uid}&param=uid###from{if $from == 1}###pname{/if}&position=left&from={$from}{if $from == 1}&pname={$item.program_name}{/if}" {if $from == 0 || $from == 1}target="_blank"{/if} href="{if $from == 0}{$item.user.link_url}{else}{$item.radio_url}?source=radio_live_dj{/if}" title="{$item.nick}">{$item.nick}
						{if $item.user.user_type neq 'user'}<img title="{if $item.user.user_type eq 'vip'}新浪认证{elseif $item.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$item.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}						
					</a>
				</p>
				{if $from == 0}
				<p>
					{if $item.relation && $islogin}
					<a href="javascript:void(0)" class="concernBtn_Yet"><span class="add_yet"></span>已关注</a>
					{else}						
					<a class="concernBtn_Add" onclick="App.rightSideFollow('{$item.uid}',this);return false;" href="javascript:void(0);" title="{$item.nick}"><span class="addnew">+</span>加关注</a>						
					{/if}
				</p>
				{elseif $from == 1}					
				<p><a class="concernBtn_Add btnAd_cm" href="{$item.radio_url}?source=radio_live_dj" target="_blank"><span class="ico_radio ico_listen"></span>收听节目</a></p>
				{/if}
			</div>
		</li>
		{/foreach}
	</ul>
	{if !empty($hide_djinfo)}
	<ul class="pf_userlist clearFix" style="display:none" id="dj_more_ul">
		{foreach item=item key=key from=$hide_djinfo}
		<li>
			<div class="img_l">
				<a {if $from == 0 || $from == 1}target="_blank"{/if} href="{if $from == 0}{$item.user.link_url}{else}{$item.radio_url}?source=radio_live_dj{/if}" title="{$item.nick}">
					<img action-type="namecard" action-data="uid={$item.uid}&param=uid###from{if $from == 1}###pname{/if}&position=left&from={$from}{if $from == 1}&pname={$item.program_name}{/if}" alt="{$item.nick}" src="{$item.portrait}" class="img">
				</a>				
			</div>
			<div class="pro_r">
				<p  class="name">
					<a action-type="namecard" action-data="uid={$item.uid}&param=uid###from{if $from == 1}###pname{/if}&position=left&from={$from}{if $from == 1}&pname={$item.program_name}{/if}" {if $from == 0 || $from == 1}target="_blank"{/if} href="{if $from == 0}{$item.user.link_url}{else}{$item.radio_url}?source=radio_live_dj{/if}" title="{$item.nick}">{$item.nick}
						{if $item.user.user_type neq 'user'}<img title="{if $item.user.user_type eq 'vip'}新浪认证{elseif $item.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$item.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}
					</a>
				</p>
				{if $from == 0}
				<p>
					{if $item.relation && $islogin}
					<a href="javascript:void(0)" class="concernBtn_Yet"><span class="add_yet"></span>已关注</a>
					{else}						
					<a class="concernBtn_Add" onclick="App.rightSideFollow('{$item.uid}',this);return false;" href="javascript:void(0);" title="{$item.nick}"><span class="addnew">+</span>加关注</a>
					{/if}
				</p>
				{elseif $from == 1}					
				<p><a class="concernBtn_Add btnAd_cm" href="{$item.radio_url}?source=radio_live_dj" target="_blank"><span class="ico_radio ico_listen"></span>收听节目</a></p>
				{/if}		
			</div>
		</li>
		{/foreach}
	</ul>
	{/if}
</div>
{if $more}
<a id="dj_ul_href_show" class="d_Divdown" href="javascript:;"  action-type="more" action-data="cont=dj_more_ul&act=dj_ul_href_show&show=dj_ul_href_hide">展开全部<em class="more"></em></a>
<a id="dj_ul_href_hide" class="d_Divdown" style="display:none" href="javascript:;"  action-type="moreOff" action-data="cont=dj_more_ul&act=dj_ul_href_hide&show=dj_ul_href_show">收起<em class="up"></em></a>
{/if}
{/if}