{if $program_visible}
{if !$new}
<div id="dj_feed_div" {if $power eq 'visit' && !$isCurrentDj && empty($list)}style="display:none;"{/if}>
	<div class="rdo_tit1"> <span></span>
		<h3>在线DJ说</h3>		
	</div>
	<div id="dj_feed_p" class="prompt_orgwp" {if $power neq 'admin' && !$isCurrentDj}style="display:none;"{/if}>
		<div class="ico_djDf">
			DJ你好，你在本页面发布微博或通过输入<a href="javascript:;" action-type="dj_feed_modify" action-data="rid={$rid}">微博链接地址</a> ，即可显示在在线DJ微博区。
该区域的微博会在节目结束时自动消失。
		</div>
	</div>
	<ul mids="{if empty($mids)}{$mids}{/if}" id="dj_feed_ul" class="MIB_feed radio_feedls">
	{/if}
	{if !empty($list)}
		{foreach item=item key=key name=interact from=$list}
		<li>		
			<div class="head_pic">
				<a href="{$item.user.link_url}" target="_blank"><img imgtype="head" uid="{$item.uid}" title="{$item.nick}" src="{$item.icon}"></a>
				{if $power eq 'admin' || $isCurrentDj}<a href="javascript:;" action-type="dj_feed_hidden" action-data="rid={$rid}&mid={$item.mid}">隐藏</a>{/if}
			</div>
			<div class="MIB_feed_c">
				<p type="1" mid="{$item.mid}" class="sms">
					<a title="{$item.nick}" href="{$item.user.link_url}" target="_blank">{$item.nick}
						{if $item.user.user_type neq 'user'}<img title="{if $item.user.user_type eq 'vip'}新浪认证{elseif $item.user.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$item.user.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}						
					</a>
					：{$item.content.text}
				</p>
				{if $item.rt}
				<!--add 0916-->
				<div class="MIB_assign">
					<div class="MIB_asarrow_l"></div>
					<div class="MIB_assign_t"></div>
					<div class="MIB_assign_c MIB_txtbl"> 
						<p type="2" mid="{$item.rt.rootmid}" class="source">
							<a href="{$item.rt.rootuser.link_url}" target="_blank">@{$item.rt.rootuser.name}
								{if $item.rt.rootuser.user_type neq 'user'}<img title="{if $item.rt.rootuser.user_type eq 'vip'}新浪认证{elseif $item.rt.rootuser.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$item.rt.rootuser.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}								
							</a>
							：{$item.rt.text}
							<span class="source_att MIB_linkbl"><a href="{getUidUrl uid=$item.rt.rootuid mid=$item.rt.rootid domainType=$smarty.const.DOMAIN_TYPE}" target="_blank"><strong lang="CL1005">原文转发</strong>{if $item.rt.rootrtnum}<strong type="rttCount" rid="{$item.rt.rootmid}">({$item.rt.rootrtnum})</strong>{/if}</a><span class="MIB_line_l">|</span><a href="{getUidUrl uid=$item.rt.rootuid mid=$item.rt.rootid domainType=$smarty.const.DOMAIN_TYPE}" target="_blank"><strong lang="CC0603">原文评论</strong>{if $item.rt.rootcmtnum}<strong type="commtCount" rid="{$item.rt.rootmid}">({$item.rt.rootcmtnum})</strong>{/if}</a></span>
						</p>
						{if $item.content.pid}
						<div class="feed_preview">
							<div class="feed_img">
								<a href="javascript:void(0);" onclick="App.popImg(this,{literal}{{/literal}picurl:'{$item.content.pid}'{literal}}{/literal}).show();">
									<img class="imgicon" src="{$item.content.pic}">
								</a>
							</div>
							<div class="clear"></div>
						</div>				
						{/if}
					</div>
					<div class="MIB_assign_b"></div>
				</div>
				<!--/add 0916-->
				{else}
					{if $item.content.pid}
					<div class="feed_preview">
						<div class="feed_img">
							<a onclick="App.popImg(this,{literal}{{/literal}picurl:'{$item.content.pid}'{literal}}{/literal}).show();" href="javascript:void(0);">
								<img src="{$item.content.pic}" class="imgicon">
							</a>
						</div>
						<div class="clear"></div>
					</div>				
					{/if}
				{/if}
				<div class="feed_att MIB_linkbl MIB_txtbl">
					<div class="lf">
						<cite>
						<a href="{getUidUrl uid=$item.uid mid=$item.mblogid domainType=$smarty.const.DOMAIN_TYPE}" target="_blank"><strong>{$item.created_at}</strong></a>
						</cite>
						<strong lang="CL1006">来自</strong><cite>{$item.source_link}</cite>
					</div>
					<div class="rt">					
						<a href="javascript:void(0)" onclick="App.ModForward('{$item.mblogid}','{if empty($item.rt.encode_text)}{$item.content.encode_text}{else}{$item.rt.encode_text}{/if}',0,this,'num_{$item.mid}','{$item.nick}','{if !empty($item.rt.encode_text)}{$item.content.encode_text}{/if}','{$currUserInfo.name}')" initbloger="{if $item.rt}{$item.rt.rootuser.uid}{else}{$item.uid}{/if}" lastforwardername="{$item.nick}" lastforwarder="{$item.uid}" initmid="{$item.rt.rootid}" lastmid="{$item.mblogid}">
							<strong>转发</strong>
							<strong  id="num_{$item.mid}">{if $item.rtnum}({$item.rtnum}){/if}</strong>
						</a>
						<span class="MIB_line_l">|</span>
						<a href="javascript:void(0)" onclick="App.addfavorite_miniblog('{$item.mblogid}', '{$item.uid}')"><strong>收藏</strong></a>
						<span class="MIB_line_l">|</span>
						<a id="_comment_count_miniblog2_{$item.mid}" href="javascript:void(0)" onclick ="App.alertComment('{$item.uid}', 'miniblog2', '新浪微博', '{$item.mid}', '{$item.content.encode_text}', '', '', 1, 0, 1);" ><strong>评论</strong><strong>{if $item.cmtnum}({$item.cmtnum}){/if}</strong></a>
					</div>
				</div>		
			</div>
		</li>
		{/foreach}
	{/if}
{if !$new}
	</ul>
</div>
{/if}
{/if}