<div class="channel-weibo">
                <div class="cw-top udv-clearfix">
                    <div class="cwt-left">
                        <a href="{=$radio_info.url=}" target="_blank">
                            <img src="{=$radio_info.img_path=}"" height="56" width="56" alt="{=$radio_info.name=}"/>        
                        </a>
                    </div>
                    <div class="cwt-right">
                        <p class="name">
                            <a href="{=$radio_info.radio_url=}" target="_blank">{=$radio_info.name=}</a>
                        </p>
                        <p>
                            {=if $radio_info.relation == 0=}
							<a class="icon-follow" href="javascript:;" data-uid="{=$radio_info.uid=}" data-action="follow"></a>
							{=else=}
							<a class="icon-followed" href="javascript:;"><em></em>已关注</a>
							{=/if=}
                    </p>
                </div>
            </div>
            <div class="cw-intro">
                {=$radio_info.intro_old=}
            </div>
        </div>
		{=if $hot_preview_radio_info || $hot_preview_pic=}
        <div class="forecast">
            <div class="title">
                <div class="title-in">本台热点预告</div>
            </div>
			{=if $hot_preview_radio_info=}
            <ul id="forecastList">
				{=foreach from=$hot_preview_radio_info item=myitem name=myname=}
                <li>
                    <a>{=$myitem.introduce=}</a>
                    <div class="intro">
                        <span>简介：</span>{=$myitem.introduce=}<i></i>
                    </div>
                </li>
				{=/foreach=}
            </ul>
			{=/if=}
        </div>
		{=/if=}
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['util/util','$'],function(util){
            $(document).ready(function(){
            //util.bindEnterLeave('#forecastList', 'li', 'hover');
            });
        });
    });
</script>
		{=if $hot_preview_pic=}
        <div class="ad-ctr">
            <img src="{=$hot_preview_pic.block_pic=}" height="200" width="330" alt="热点预告"/>
			<div><p class="bg"></p><span>{=$hot_preview_pic.block_text=}</span></div>
        </div>
		{=/if=}
<div class="anchor-ctr">
    <div class="title">电台主播</div>
    <div class="content udv-clearfix">
        <div class="scroll" id="scroll1">
			{=if $dj_info=}
            {=foreach from=$dj_info item=myitem1 name=myname1=}
            <div class="scroll-box">
				{=foreach from=$myitem1 key=key item=myitem2 name=myname2=}
                <div class="item">
                    <div class="item-wrap">
                        <a href="{=$myitem2.url=}" target="_blank">
                            <img src="{=$myitem2.icon=}" height="54" width="54" alt="{=$myitem2.name=}"/>
                        </a>
                        <a href="{=$myitem2.url=}" target="_blank" class="item-name">{=$myitem2.name=}</a>
                        <div class="usercard-3">
                            <div class="green-holder"></div>
                            <div class="info udv-clearfix">
                                <div class="avatar">
                                    <a href="{=$myitem2.url=}" target="_blank">
                                        <img src="{=$myitem2.icon=}" height="60" width="60" alt="{=$myitem2.name=}">
                                    </a>
                                </div>
                                <div class="detail">
                                    <p class="name">
                                        <a href="{=$myitem2.url=}" target="_blank">{=$myitem2.name=}</a>
                                        <em class="v-yellow"></em>
                                    </p>
                                    <p class="area"> <em class="gender r-male "></em>
                                        {=$myitem2.location=}
                                    </p>
                                    <div class="statistic">
                                        <a href="{=$myitem2.url=}/follow" target="_blank">关注</a>
                                        {=$myitem2.followers_count=}
                                        <span class="vline">|</span>
                                        <a href="{=$myitem2.url=}/fans" target="_blank">粉丝</a>
                                        {=$myitem2.friends_count=}
                                        <span class="vline">|</span>
                                        <a href="{=$myitem2.url=}/profile" target="_blank">微博</a>
                                        {=$myitem2.statuses_count=}
                                    </div>
                                </div>
                            </div>
                            <dl class="intro udv-clearfix">
                                <dt>简介：</dt>
                                <dd>{=$myitem2.description=}</dd>
                            </dl>
                            <i class="tri"></i>
                        </div>
                    </div>
                    {=if $myitem2.relation == 0=}
                    <a class="icon-follow" href="javascript:;" data-uid="{=$myitem2.uid=}" data-action="follow"></a>
                    {=else=}
                    <a class="icon-followed" href="javascript:;"><em></em>已关注</a>
                    {=/if=}
                </div>
				{=/foreach=}
            </div>
			{=/foreach=}
            {=/if=} 
        </div>
        <div class="dot-wrap" id="dot1" style="{=if $dj_info|@count le 1=}display: none{=/if=}"></div>
    </div>
</div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['util/scrollPic','$','_'],function(Scroll){
            $(document).ready(function(){
                var scroll = new Scroll();
                scroll.scrollContId = "scroll1"; //内容容器ID

                scroll.dotListId = "dot1";//点列表ID
                scroll.dotClassName = "";//点className
                scroll.dotOnClassName = "current";//当前点className
                scroll.listType = "";//列表类型(number:数字，其它为空)
                scroll.listEvent = "onmouseover"; //切换事件

                scroll.frameWidth = 300;//显示框宽度
                scroll.pageWidth = 300; //翻页宽度
                scroll.upright = false; //垂直滚动
                scroll.speed = 10; //移动速度(单位毫秒，越小越快)
                scroll.space = 60; //每次移动像素(单位px，越大越快)
                scroll.autoPlay = false; //自动播放
                scroll.autoPlayTime = 5; //自动播放间隔时间(秒)
                scroll.circularly = false;
                scroll.initialize(); //初始化
				if(document.body.offsetWidth>=1560){
                    $('#scroll1 .scroll-box .item').each(function(){
                        var $this=$(this);
                        var index=$this.index();
                        var top=Math.floor(index/2)*150+20;
                        var left=((index%2==0)?0:1)*150+120;
                        $this.find('.usercard-3').css({'top':top+'px','left':left+'px'});
                    });
                }else{
                    $('#scroll1 .scroll-box .item').each(function(){
                        var $this=$(this);
                        var index=$this.index();
                        var top=Math.floor(index/2)*150+20;
                        var left=((index%2==0)?0:1)*150-290;
                        $this.find('.usercard-3').css({'top':top+'px','left':left+'px'}).addClass('usercard-3_c');
                    });
                }
                $(window).resize(function(){
                    if(document.body.offsetWidth>=1560){
                        $('#scroll1 .scroll-box .item').each(function(){
                            var $this=$(this);
                            var index=$this.index();
                            var left=((index%2==0)?0:1)*150+120;
                            $this.find('.usercard-3').css('left',left+'px').removeClass('usercard-3_c');
                        });
                    }else{
                        $('#scroll1 .scroll-box .item').each(function(){
                            var $this=$(this);
                            var index=$this.index();
                            var left=((index%2==0)?0:1)*150-290;
                            $this.find('.usercard-3').css('left',left+'px').addClass('usercard-3_c');
                        });
                    }
                });
            });
        });
    });
</script>
{=if $current_listeners=}
<div class="listener-ctr">
    <div class="title">他们也在听</div>
    <div class="content udv-clearfix">
        <div class="scroll" id="scroll2">
            {=foreach from=$current_listeners item=myitem1 name=myname1=}
            <div class="scroll-box">
				{=foreach from=$myitem1 item=myitem2 name=myname2=}
                <div class="item">
                    <a href="{=$myitem2.link_url=}" target="_blank">
                        <img src="{=$myitem2.profile_image_url=}" height="54" width="54" alt="{=$myitem2.screen_name=}"/>
                        <span>{=$myitem2.screen_name=}</span>
                    </a>
                </div>
				{=/foreach=}
            </div>
			{=/foreach=}
        </div>
        <div class="dot-wrap" id="dot2" style="{=if $dj_info|@count le 1=}display: none{=/if=}"></div>
    </div>
</div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['util/scrollPic','$','_'],function(Scroll){
            $(document).ready(function(){
                var scroll = new Scroll();
                scroll.scrollContId = "scroll2"; //内容容器ID

                scroll.dotListId = "dot2";//点列表ID
                scroll.dotClassName = "";//点className
                scroll.dotOnClassName = "current";//当前点className
                scroll.listType = "";//列表类型(number:数字，其它为空)
                scroll.listEvent = "onmouseover"; //切换事件

                scroll.frameWidth = 300;//显示框宽度
                scroll.pageWidth = 300; //翻页宽度
                scroll.upright = false; //垂直滚动
                scroll.speed = 10; //移动速度(单位毫秒，越小越快)
                scroll.space = 60; //每次移动像素(单位px，越大越快)
                scroll.autoPlay = false; //自动播放
                scroll.autoPlayTime = 5; //自动播放间隔时间(秒)
                scroll.circularly = false;
                scroll.initialize(); //初始化
            });
        });
    });
</script>
{=/if=}