<div class="nav udv-clearfix">
    <div class="logo">
        <a href="{=$smarty.const.RADIO_URL=}"></a>
    </div>
    <ul>
        <li class="{=if $page_name eq 'areaindex'=}current{=/if=}"><a href="{=$smarty.const.RADIO_URL=}">首页</a></li>
        <li class="{=if $page_name eq 'recommend'=}current{=/if=}"><a href="{=$smarty.const.RADIO_URL=}/recommend">节目推荐</a></li>
        <li class="{=if $page_name eq 'rank'=}current{=/if=}"><a href="{=$smarty.const.RADIO_URL=}/rank">排行榜</a></li>
        <li ><a href="{=$smarty.const.RADIO_URL=}/app" target="_blank">客户端</a></li>
		{=if $is_login>0=}
		<li class="{=if $page_name eq 'myradio'=}current{=/if=}"><a href="{=$smarty.const.RADIO_URL=}/myradio">我的电台</a></li>
		{=else=}
		<li><a href="javascript:;" id="myRadio">我的电台</a></li>
		{=/if=}
    </ul>
    <!--focused-->
    <form action="{=$smarty.const.RADIO_URL=}/search" method="GET" target="_blank" class="">
                <input class="input" type="text" name="words" placeholder="电台、节目、DJ" maxlength="15"/>    
                <input class="submit" type="submit" value=""/>    
            </form>
        </div>
<script type="text/javascript">
    requirejs(['lib'],function(){
        requirejs(['sim-component/TipBoxes','util/network','util/login','$','placeholder'],function(tipboxes,network,login){
            var Alert=tipboxes.Alert;
            $('.nav input').placeholder()
            .keyup(function(e){  
                var curLength=$(this).val().length;
                if(curLength==15){
                    new Alert({
                        tip: '最多只能输入15个字！',
                        waitTime: 2,
                        iconCls: 'icon-x'
                    });
                }
            });

            /*如果未登录则显示该段代码*/
			{=if !$is_login=}
            $('#myRadio').on('click',function(){
                if(!scope.islogin){
                    login.showAtCenter();
                }
            });
			{=/if=}
            /*如果未登录则显示该段代码*/
        });
    });
</script>
