<div class="rdo_tit2">
	<span></span>
	<h3>微电台合作咨询</h3>
</div>
<div class="jb_profileW clearFix">
	<div class="img_l">
		<a href="{$Minfo.link_url}" target="_blank"><img height="50" width="50" src="{$Minfo.profile_image_url}" title="{$Minfo.name}"></a>
	</div>
	<div class="pro_r">
		<p class="name">			
			<a href="{$Minfo.link_url}" target="_blank">{$Minfo.name}
				{if $Minfo.user_type neq 'user'}<img title="{if $Minfo.user_type eq 'vip'}新浪认证{elseif $Minfo.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$Minfo.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}				
			</a>
		</p>
		<p class="btn_adls">
			<span class="lf">
			{if !$Minfo.attention}
			<a class="concernBtn_Add" href="javascript:void(0);" onclick="App.rightSideFollow('{$Minfo.uid}',this);return false;"><span class="addnew">+</span>加关注</a>			
			{else}
			<a href="javascript:void(0)" class="concernBtn_Yet"><span class="add_yet"></span>已关注</a>
			{/if}
			</span>			
			<em class="gray_line">|</em><a href="javascript:;" onclick="App.msgDialog('微电台', false);return false;">@微电台</a>
		</p>
	</div>
</div>
<p class="rdotext_des">全国电台、电台联盟：（010）62676898</p>
<p class="rdotext_des" style="margin-top:0px;">北方电台、海外电台：（010）62675318</p>
<p class="rdotext_des" style="margin-top:0px;">南方电台、网络电台：（010）62675318</p>
<p class="rdotext_des" style="margin-top:0px;">微电台听众QQ群：237285822</p>
<div class="dotline_d"></div>
<div class="rdohelp_des"><a target="_blank" class="ico_radio ico_viewHelp" href="/help">查看使用帮助</a></div>
