<!-- SUDA_CODE_START -->
<script type="text/javascript" charset="utf-8" src="http://www.sinaimg.cn/unipro/pub/suda_s_v851c.js"></script>
<!-- SUDA_CODE_END -->
<div class="global_footer">
    <div class="other_link clearfix">
        <div class="help_link">
            <p class="W_linkb">
                <a class="ico_service" href="http://help.weibo.com/?refer=didao" target="__blank">微博帮助</a>
                <a href="http://weibo.com/zt/s?k=9286" target="_blank">意见反馈</a>
                &nbsp;
                <a href="http://open.weibo.com/" target="__blank">开放平台</a>
                <a href="http://hr.weibo.com" target="__blank">微博招聘</a>
                <a href="http://news.sina.com.cn/guide/" target="__blank">新浪网导航</a>
            </p>
            <p>服务热线：4000 960 960（个人） 4000 980 980（企业）按当地市话标准计费</p>
        </div>
        <div class="copy">
            <p class="W_linkb">
                Copyright &copy; 1996-{=$smarty.now|date_format:"%Y"=} SINA
                <br>
                北京微梦创科网络技术有限公司  京ICP证100780号
            </p>
        </div>
    </div>
</div>