{if $type == 2}
<!--管理节目单-->
<div class="tbl_weeklyWp clearFix" id="weeklist">
	{foreach item=item key=key from=$data}
	<a {if $item.today}class="cur"{/if} href="javascript:void(0);" action-type="week" action-data="index={$key}">{$item.wday}</a>{if $key != 6}|{/if}
	{/foreach}
</div>
<div class="tal_ManageWP">
	<div class="tbl_Manage_th">
		<ul class="tab_th clearFix">
			<li class="tab_th1">节目名称</li>
			<li class="tab_th2">节目图片</li>
			<li class="tab_th3">节目详情</li>
			<li class="tab_th4">开始时间</li>
			<li class="tab_th5">结束时间</li>
			<li class="tab_th6">节目DJ</li>
			<li class="tab_th7">操作</li>
		</ul>
	</div>
	{foreach item=item key=key from=$data}
	<div class="tbl_Manage_tb"  type="schedule" {if !$item.today}style="display:none"{/if}>
		{foreach item=aitem key=akey from=$item.program_info}
		<ul class="tab_td clearFix">
			<li class="tab_td1"><span>{$aitem.program_name}</span><input type="hidden" value="{$aitem.program_name}" name="name"/></li>
			<li class="tab_td2">
				{if !empty($aitem.pic_path)}
				<img src="{$aitem.pic_path}">
				{/if}
				<input type="hidden" value="{$aitem.pid}" name="pid"/>
			</li>
			<li class="tab_td3"><span>{$aitem.intro}</span><input type="hidden" value="{$aitem.intro}" name="intro"/></li>
			<li class="tab_td4"><span>{$aitem.begintime}</span><input type="hidden" value="{$aitem.begintime}" name="begintime"/></li>
			<li class="tab_td5"><span>{$aitem.endtime}</span><input type="hidden" value="{$aitem.endtime}" name="endtime"/></li>
			<li class="tab_td6">
				<div class="memberDj_ls">
					{foreach item=bitem key=bkey from=$aitem.dj_info}				
					<span><a href="{$bitem.url}" target="_blank">{$bitem.screen_name}</a></span>
					<input type="hidden" value="{$bitem.uid}#{$bitem.url}#{$bitem.screen_name}" name="dj_info_one"/>				
					{/foreach}
				</div>				
			</li>
			<li class="tab_td7">
				<a href="javascript:;" action-type="scheduleModify"><span class="ico_zwEdit"></span>修改</a><br>
				<a href="javascript:;" action-type="scheduleDel"><span class="ico_zwDel"></span>删除</a>
			</li>
		</ul>
		{/foreach}
	</div>
	{foreachelse}
	<div class="tbl_Manage_tb">
		<li class="tab_td1"></li>
		<li class="tab_td2"></li>
		<li class="tab_td3"></li>
		<li class="tab_td4"></li>
		<li class="tab_td5"></li>
		<li class="tab_td6"></li>
		<li class="tab_td7">
			<a href="javascript:;" action-type="scheduleModify"><span class="ico_zwEdit"></span>修改</a><br>
			<a href="javascript:;" action-type="scheduleDel"><span class="ico_zwDel"></span>删除</a>
		</li>
	</div>
	{/foreach}	
	<div class="clearFix"><p class="rt"><a href="javascript:;" action-type="scheduleAdd">+添加节目</a></p></div>
	<div class="synch_weeklyWp" id="schedule_days">数据同步到：
		{foreach item=item key=key from=$data}
		<label><input type="checkbox" name="day" value="{$key+1}" {if $item.today}disabled checked="checked"{/if}>{$item.wday}</label>
		{/foreach}
	</div>	
	<div class="btn_alignC">
		<a class="btn_SumbitRdo" href="javascript:;" action-type = "scheduleSubmit">&nbsp;&nbsp;</a>
		<a class="btn_ConcelRdo" href="javascript:;" action-type="scheduleCancel">&nbsp;&nbsp;</a>
	</div>
	<br>	
</div>
{/if}

{if $type == 1}
<!--查看节目单弹出层-->
<div class="layer_playbill_list" id="weeklist">
{foreach item=item key=key from=$data}
	<a {if $item.today}class="cur"{/if} href="javascript:void(0);" action-type="week" action-data="index={$key}"><span>{$item.wday}</span></a>{if $key != 6}|{/if}
{/foreach}	
</div>
{foreach item=item key=key from=$data}
<table {if !$item.today}style="display:none"{/if}>
	<tbody>
	</tbody><col width="130">
	<col width="110">
	<col width="110">
	<col width="">
	<tbody>
		<tr>
			<th>节目名称</th>
			<th>开始时间</th>
			<th>结束时间</th>
			<th>节目DJ</th>
		</tr>
		{foreach item=aitem key=akey from=$item.program_info}
		<tr {if $aitem.now}class="cur"{/if}>
			<td><span>{$aitem.program_name}</span><input type="hidden" value="{$aitem.program_name}" name="name"/></td>
			<td><span>{$aitem.begintime}</span><input type="hidden" value="{$aitem.begintime}" name="begintime"/></td>
			<td><span>{$aitem.endtime}</span><input type="hidden" value="{$aitem.endtime}" name="endtime"/></td>			
			<td>
				{foreach item=bitem key=bkey from=$aitem.dj_info}
				<span>&nbsp;&nbsp;<a href="{$bitem.url}" target="_blank">{$bitem.screen_name}</a></span><input type="hidden" value="{$bitem.uid}#{$bitem.url}#{$bitem.screen_name}" name="dj_info_one"/>
				{/foreach}
			</td>
		</tr>
		{/foreach}								
	</tbody>
	
</table>
{foreachelse}
<table>
	<tbody>
	</tbody><col width="130">
	<col width="110">
	<col width="110">
	<col width="">
	<tbody>
		<tr>
			<th>节目名称</th>
			<th>开始时间</th>
			<th>结束时间</th>
			<th>节目DJ</th>
		</tr>								
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>																
	</tbody>
</table>
{/foreach}
{/if}