<!--内容开始 -->
{if !empty($name_card)}
<div class="jb_profileW clearFix">
	<div class="img_l">
		<a target="_blank" href="{$name_card.url}">
			<img width="50" height="50" alt="{$name_card.name}" src="{$name_card.icon}">
		</a>
	</div>
	<div class="pro_r">
		<p class="name clearFix">
			<a class="lf" target="_blank" href="{$name_card.url}">
				{$name_card.name}
				{if $name_card.user_type neq 'user'}<img title="{if $name_card.user_type eq 'vip'}新浪认证{elseif $name_card.user_type eq 'vip_blue'}企业认证{else}微博达人{/if}" class="small_icon {$name_card.user_type}" src="http://img.t.sinajs.cn/t4/style/images/common/transparent.gif" />{/if}																		
			</a>
		</p>
		{if !empty($name_card.program_name)}
		{foreach item=item key=key from=$name_card.program_name}
		{if $key <2}
		<p>《{$item}》</p>
		{/if}
		{/foreach}
		{/if}
	</div>
</div>
<div class="btn_addTa">
	<span>
		{if $name_card.relation}
		<a href="javascript:void(0)" class="concernBtn_Yet"><span class="add_yet"></span>已关注</a>
		{else}
		<a class="btn_AddConcert" onclick="App.rightSideFollow('{$name_card.uid}',this);App.radiocard.clearCache('{$name_card.uid}');return false;" href="javascript:void(0);" title="{$name_card.name}"><em><span class="addnew">+</span>加关注</em></a>
		{/if}
	</span>
	{if $from == 0}
	<a class="btn_bluezm"  href="javascript:void(0);" class="concernBtn_at" action-type="insertTextPublisher" action-data="text=@{$name_card.name}&publisher=publish_editor&hash=curfm"><em>@{if $name_card.sex eq 'male'}他{else}她{/if}</em></a>
	{/if}
</div>
{else}
系统繁忙
{/if}
<!--内容结束 -->
<div class="clearit"></div>