<div id="weibo_top_public"></div>
<!--顶部托盘-->
<script type="text/javascript" src="http://js.t.sinajs.cn/t4/home/js/public/topInit.js?version={$js_css_version}"></script>
{literal}
<script type="text/javascript">
(function() {
WBtopGlobal && WBtopGlobal.init({
{/literal}{if $cuid}{literal}
	"name":"{/literal}{$cur_user[$cuid].name}{literal}",
	"onick":"{/literal}{$cur_user[$cuid].name}{literal}",
	"uid":"{/literal}{$cuid}{literal}",
	"icon":"{/literal}{$cur_user[$cuid].profile_image_url}{literal}",
	"verified":"{/literal}{$cur_user[$cuid].verified}{literal}",
	"verify":{/literal}{$cur_user[$cuid].verified_type}{literal},
	"islogin":"{/literal}{$islogin}{literal}",
	"lang":"{/literal}{$cur_user[$cuid].lang}{literal}",
	"_wv":"{/literal}{$_wv}{literal}",
{/literal}{else}{literal}
	"any":"&wvr=4",
{/literal}{/if}{literal}
	"loginSuccessUrl":"{/literal}{$r}?rnd={$timestamp}{literal}",
	"backurl":"{/literal}{$r}?rnd={$timestamp}{literal}",
	"pid":"{/literal}{$s_pid}{literal}"
});
})();
</script>
<script type="text/javascript" src="http://js.t.sinajs.cn/t5/webim/js/loader.js?version={/literal}{$js_css_version}{literal}"></script>
<script type="text/javascript">
	$WBIM.loadWebIM({source:'radio'});
</script>
{/literal}
